#main {
  display: flex;
  flex-flow: row wrap;

}
#list {
  display: flex;
  flex-flow: row wrap;
  flex : 1;
  /*justify-content: center;*/
  justify-content: space-around;
  width: 70%;
  /*background-color: wheat;*/
  /*margin: 0px 200px 0px 20px;*/
  border-top: 2px red dotted;

}

a { color: black; text-decoration: none;}
a:visited { color: black; }
a:hover { color: black; }​

#icons {
  font-size: 1.8em;
  margin: 5px;
}

 #icons .fa {
  /*font-size: 1.8em;*/
  background-color: #3282bb;
  color: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  box-shadow: 3px 3px 1px #333;
}

.hov:hover {
  animation-name: jump, bob;
  animation-duration: 0.3s, 1.5s;
  animation-delay: 0s, .3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;

}

@keyframes jump {
  100% {
    transform: translateY(-8px);
  }
}

@keyframes bob {
  0% {transform: translateY(-8px);}
  50% {transform: translateY(-4px);}
  100% {transform: translateY(-8px);}
}

header {
  flex: 1 100%;
}

footer {
  flex: 1 100%;
  text-align: center;
}

h1 {
  text-align: center;
}

h4 {
  margin: 5px;
  text-align: center;
  background-color: red;
}

p {
  margin: 10px;
}

.rest {
  border: 2px black solid;
  width: 500px;
  margin: 10px 0 10px 0;
  opacity: 0.6;
  background-color: wheat;
}

.rest:hover {
  opacity: 1;
  box-shadow: 3px 3px 1px #333;
}

body {
  background-color: #efcebf;
}

img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px 10px 0px 10px;
  /*margin: 3px;*/
}

@media all and (min-width: 1020px){
  #list {padding-left: 250px;
  padding-right: 250px;}
}
